.home-container {
  min-height: 100vh;
  background-color: #ffffff;
  font-family: "Pretendard", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #e5e7eb;
}

.navbar .logo {
  font-size: 40px;
  font-weight: bold;
  color: #1e40af;
  text-decoration: none;
}

.navbar .logo span {
  color: #f97316;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #d1d5db;
  border-radius: 9999px;
  padding: 8px 16px;
  width: 35%;
}

.search-bar input {
  font-family: "NanumSquareNeo";
  width: 100%;
  border: none;
  outline: none;
}

.icon {
  color: #d1d5db;
  width: 20px;
  height: 20px;
}

.nav-links {
  font-family: "NanumSquareNeo";
  display: flex;
  gap: 24px;
  font-size: 15px;
  color: #4b5563;
}

.nav-links a {
  text-decoration: none; 
  color: #4b5563; 
}

.banner-section {
  position: relative;
  width: 80%; 
  height: auto;
  aspect-ratio: 16 / 7;
  overflow: hidden;
  background-color: #f3f4f6;
  margin: 0 auto;
}

.banner-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.banner-btn.left {
  left: 20px;
}

.banner-btn.right {
  right: 20px;
}

.category-section {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 30px 0;
  background-color: #E9F4FF;
  border-bottom: 2px solid #d1d5db; 
}

.category-btn {
  font-family: "NanumSquareNeo";
  padding: 7px 20px;
  font-size: 13px; 
  border-radius: 9999px;
  border: 1px solid #d1d5db;
  background-color: white;
  color: #1f2937;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-btn:hover {
  background-color: #e5e7eb;
}

.category-btn.active {
  background-color: #1e40af;
  color: white;
}

.match-list {
  background-color: #f3f4f6;
  min-height: 50vh;
  padding: 40px 100px;
}

.match-list h1 {
  font-family: "Giants-Bold";
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.match-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.match-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.match-card:hover {
  transform: translateY(-4px);
}

.match-card img {  
  width: 65%;
  height: 65%;
  object-fit: cover;
}

.match-card .info {
  padding: 16px;
  text-align: center;
}

.match-card .info p:first-child {
  font-size: 18px;
  font-weight: 600;
}
.match-logos-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
  margin-bottom: 16px;
}

.team-logo {
  width: 10%;
  height: 10%;
  object-fit: contain;
}

.vs-text {
  font-family: "NanumSquareNeo-Bold";
  font-size: 18px;
  color: #222;
}


.info {
  font-family: "NanumSquareNeo";
  font-size: 14px;
  text-align: center;
}
.title {
  font-family: "NanumSquareNeo-Bold";
  margin-bottom: 4px;
}


.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 60px;
}

.page-btn {
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  font-family: "NanumSquareNeo";
  font-size: 15px;
  transition: all 0.2s;
}

.page-btn:hover {
  background-color: #e5e7eb;
}

.page-btn.active {
  background-color: #1e40af;
  color: white;
  border-color: #1e40af;
}
