.signuppage {
  background-color: #999;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.logo{
  margin-left: 30px;
  margin-top: 20px;
}
.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 800px;
  height: 500px;
}

/* 좌측 */
.left {
  flex: 1;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.loginBtn {
  background: #283577;
  border: none;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
  width: auto;
  align-self: center;
  opacity: 0.8;
}

.loginBtn:hover {
  background: linear-gradient(90deg, #283577, #283577);
  transform: scale(1.05);
}

/* 우측 */
.right {
  flex: 1;
  background: #283577;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.input {
  width: 80%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.signupBtn {
  background: #333;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  width: auto;
}

.signupBtn:hover {
  background: linear-gradient(90deg, #504747, #333);
  transform: scale(1.05);
}

.error {
  color: #e74c3c;
  /* 빨간 글씨 */
  font-size: 0.8rem;
  margin-top: 1px;
  margin-left: 4px;
  /* 입력창 안쪽과 살짝 여백 */
}